#teamWhites {
  text-align: center;
}

#teamWhites {
  background-color: #fff;
  padding: 5rem 0;
}

#teamWhites h2, #teamWhites p, #teamWhites ul li  {
  color: #fe8c00;
}

#teamWhites h2 {
  text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 26px;
}

#teamWhitesPlayers li {
  padding: 0.5rem 0;
    margin: 0 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#teamWhitesPlayers ul, #teamWhitesPlayers li {
  list-style-type: none;
  text-align: left;
}

#teamWhitesPlayers span {
  padding-right: 10px;
  color: #fe8c00;
}