input {
  border-radius: 0;
  background-color: rgba(175, 35, 1, 0.4);
  margin-right: 4px;
  padding: 10px 15px;
  border: none;
  color: #fff; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }
